name: GitHub Actions Security Analysis with zizmor

on:
  push:
    branches: ["main"]
    paths:
      - ".github/workflows/**"
  pull_request:
    branches: ["**"]
    paths:
      - ".github/workflows/**"

permissions: {}

jobs:
  zizmor:
    name: Run zizmor
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read           # to read actions in status in the repo
      security-events: write  # to create security alerts
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.0
        with:
          persist-credentials: false

      - name: Run zizmor
        uses: zizmorcore/zizmor-action@e673c3917a1aef3c65c972347ed84ccd013ecda4 # v0.2.0
        with:
          persona: pedantic
          advanced-security: false
